#barra-sup, #barra-sup a {
    background-color:#ff6090 !important;
    color:black !important;
}

#barra-sup li.active a  {
    background-color:#b0003a !important;
    color:white !important;
}

button {
    border-color: #b0003a !important;
    background-color:#b0003a !important;
}

button.recording {
    background-color: #ff6090 !important;
    color:#b0003a !important;
}

#welcome .intro, #bad-welcome .intro {
    background-color: white !important;
    color:#b0003a !important;
}

.row.intro {
    background-color: #e91e63 !important;
    color: white !important;
}

#login label, .ayuda {
    color:black;
}

.progress-bar {
    background-color: #ff6090;
}

#scores {
    color:#e91e63;
}

#scores li {
    color:#b0003a;
}

#scores span {
    color:#e91e63;
}

#help {
    background-color: #ff6090;
    color:white;
}

#help:hover {
    background-color: #b0003a;
}

