body {
    padding-top: 70px;
    background: #0B2161;
    color: #FFFFFF;
}

body .media {
   color: #000; 
}

.infoPersonaje {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 72px;
    margin-left: 15px;
    text-transform: uppercase;
}

ul {
    display: block;
    list-style-type: disc;
}

li {
    list-style: none;
}

li.normal {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 10px;
    margin-left: 15px;
}

ul.vidas {
    list-style-type: none;
}

ul.vidas li {
    display: inline;
}

#resultadosContainer {
    font-size: 20px;
}

input {
    margin-bottom: 5px;
}

.intro {
    display: none;
    text-align: center;
    vertical-align: middle;
}

p.intro {
    font-size: 20px;
}

p.intro.emphasis {
    font-weight: bold;
    color: #FF0000;
}

p.intro img {
    max-height: 400px;
    text-align: center;
    vertical-align: middle;
    display: inline;
}

#chat-box {
    padding-top: 20px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #f9d;
}

#welcome, #bad-welcome {
    background: #088A08;
    text-align: center;
    vertical-align: middle;
    font-size: 200%;
}

#welcome p, #bad-welcome p {
    width: 40%;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

#welcome h1, #bad-welcome h1 {
    font-weight: bold;
}

#welcome button, #bad-welcome button  {
    font-size: 150%;
}

#bad-welcome {
    background: #DF3A01;
}

#table, th, td { 
    color: #FFFFFF;
    border: 1px solid white;
    padding: 10px 10px;
    font-size: 110%;
}

.sorting, .sorting_asc, .sorting_desc {
    background: #FFFFFF;
    color: #000;
}

#table_wrapper input, select {
    font-weight: normal;
    padding: 0px 10px;
    color:black;
}

#table_wrapper a{
    margin: 10px 10px;
    padding: 5px 10px;
     color: #FFF;
     background: #088A08;
     font-weight: bold;
} 

#table_wrapper #table_info {
    margin: 10px 0px;
}