body {
    padding-top: 70px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8em !important;
}

footer {
   position:absolute;
   bottom:0;
   padding-left: 10px;
   width:100%;
   height:60px;   /* Height of the footer */
}

ul {
    display: block;
    list-style-type: disc;
}

li {
    list-style: none;
}

#help {
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
    font-size: 2.5em;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

#help span {
    position: relative;
    top:8px;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.info {
    padding: 0px 30px;
}

.intro {
    padding: 0px 100px 60px 100px;
}

.intro h4 {
    text-align: left;
}

.row.intro p {
    text-align: justify;
    text-justify: inter-word;
    vertical-align: middle !important;
    width: 300px;
    margin: 0 auto;
}

#table, th, td { 
    color: #000000;
    border: 1px solid darkblue;
    padding: 10px 10px;
    font-size: 110%;
}

.sorting, .sorting_asc, .sorting_desc {
    background: #FFFFFF;
    color: #000;
}

#table_wrapper input, select {
    font-weight: normal;
    padding: 0px 10px;
    color:black;
}

#table_wrapper a{
    margin: 10px 10px;
    padding: 5px 10px;
     color: #FFF;
     background: #088A08;
     font-weight: bold;
} 

#table_wrapper #table_info {
    margin: 10px 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    text-align: left;
}

.modal-content p {
    text-align: justify !important;
    text-justify: inter-word !important;
    width: auto !important;
    padding: 0px 30px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#formRegistro {
    font-size: 1.2em;
    text-align: left;
    padding-right: 20px;
}

input[type="text"], input[type="password"]{
    margin-bottom: 5px;
    font-size: 1.1em;
}

button{
    font-size: 1.1em !important;
}

#special {
    font-weight: bold;
    background: white;
}

.no-list {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.no-list li{
    display: inline !important;
}

#scores {
    font-weight: bold;
    width: 800px;
    font-size: 1.3em;
}

#scores span{
    padding-left: 10px;
}

.law-warn {
    text-align: justify;
    text-justify: inter-word; 
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b0003a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b0003a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #ff6090;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

.dotstyle-hop li a {
	border: 2px solid #b0003a;
	background: transparent;
}

.dotstyle-hop li a::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	border-radius: 50%;
	visibility: hidden;
	background: #ff6090;
	opacity: 0;
	-webkit-transform: rotate(-100deg);
	transform: rotate(-100deg);
	-webkit-transform-origin: -200% 50%;
	transform-origin: -200% 50%;
	-webkit-transition: -webkit-transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-hop li a:focus {
	background: rgba(255, 255, 255, 0.2);
}

.dotstyle-hop li.current-from-right a::after {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: rotate(100deg);
	transform: rotate(100deg);
	-webkit-transform-origin: 300% 50%;
	transform-origin: 300% 50%;
}

.dotstyle-hop li.current a::after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}